[user]
	email = juanmarcelo.rodrigueztandil@gmail.com
	name = jmrodev
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[http "https://repo.or.cz"]
	sslCert = /home/jmro/.certs/rorcz_jmrodev_user_1.pem
	sslKey = /home/jmro/.ssh/id_rsa
	sslCertPasswordProtected = false
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[column]
	ui = auto
[branch]
	sort = -committerdate
